body {
    margin: 0;
    padding: 0;
    font-family: "avenir";
}

main {
    width: 100%;
    height: 100%;
    min-height: 628px;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side-container {
    width: 100%;
    max-width: 472px;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
}

/* aside.left */
aside.left {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 628px;
}

aside.left div.side-container {
    height: fit-content;
    gap: 20px;
}

div.service h2 {
    font-size: 20px;
}

div.contact-data {
    text-align: center;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #181818;
}

div.contact-line {
    display: flex;
    width: 100%;
    height: 1px;
    max-width: 284px;
}

div.contact-line div.line {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #181818;
}

h3.Stockists {
    font-size: 20px;
    margin: 0px;
}

div.contact-line div.line {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #181818;
}

div.stockists-data {
    text-align: center;
}

div.stockists-data p.stockits {
    margin: 0px;
    line-height: 25px;
}



/* aside.left end */

/* ... */

/* aside.right */

aside.right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 628px;
}

aside.right div.side-container {
    gap: 5px;
}

div.text {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding-top: 100px;
    line-height: 30px;
    
}

div.text p {
    font-size: 26px;
    margin: 0;
}

div.text span {
    font-size: 15px;
}

div.form {
    width: 95%;
    height: 302px;
    grid-template-rows: auto;
}

div.form form div.sender {
    width: 100%;
    height: 100%;
    min-height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 11PX;
}

div.personal-data {
    width: 50%;
    height: 37px;
    border-bottom: 1PX solid black;
}

div.personal-data input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3px 3px 3px 23px;
    border: 0px;
}



div.textarea {
    width: 100%;
    height: 147px;
    border-bottom: 1px solid black;
    padding: 11px 11px 10px 24px;
    box-sizing: border-box;
    margin-bottom: 16px;

}

div.textarea textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
}

form div.send {
    width: fit-content;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin: auto;
}

form div.send input {
    width: 185px;
    height: 100%;
    background-color: #181818;
    color: white;
    font-family: "avenir";
    font-size: 15px;
    transition: 0.5s ease;
}

form p {
    width: 100%;
    text-align: center;
    color: #181818;
}

form p.thanks {
    opacity: 0;
    

}

form div.send:active ~ p.thanks {
    opacity: 1;

}

/* aside.right end */

/* ... */

/* contact Pseudo-classes */

form div.sender div.personal-data input:focus {
    outline: none;
    border-bottom: 2px solid #181818;
}

form div.sender div.personal-data input:hover {
    border-bottom: 2px solid #181818;
}

form div.textarea textarea::placeholder {
    font-size: 15px;
}

form div.textarea:hover {
    border-bottom: 2px solid #181818;
}

div.form form div.send input:hover {
    background-color: white;
    color: #181818;
    transition: 0.5s ease;
    border: 1px solid #181818;
}




